body {

    background-image: url("../../assets/images/bar.jpg");
    background-size: cover;
    font-family: 'Satisfy', cursive;
    background-color: black;
    opacity: .7;
}

#title {
    text-align: center;
    font-size: 165px;
    color: red;
    font-family: 'Satisfy', cursive;
}

.jumbotron {
    text-align: center;
    background-color: black;
    color: red;
    font-size: 30px
}

.drinks {
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 90px;
    left: 380px
}

input {
    text-align: center
}

input::placeholder {
    text-align: center;
    color: black;
    font-size: 20px
}

/* .flex-container{
    display: flex;
    flex-direction: row;
}  */
li {
    float: left;
    overflow-x: scroll;
    margin-right: 15px;
    opacity: 1 !important;

}

li a {
    display: block;
    scroll-behavior: smooth;
    opacity: 1 !important;

}

#drink {
    background-color: red;
    color: black;
    padding: 3px
}

#hide {
    display: none
}

.card {
    width: 10rem;
    text-align: center;
    opacity: 1 !important;
}

.next {
    font-size: 80px;
    color: red !important;
    position: relative;
    top: 80px
}

.next:hover {
    cursor: pointer;
    color: white !important
}

.last {
    font-size: 80px;
    color: red !important;
    position: relative;
    bottom: 50px;
    right: 5px
}

.last:hover {
    cursor: pointer;
    color: white !important
}